@import 'styles/_colors';

.collectionEditPanelWrapper {
  box-sizing: inherit;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  position: relative;
  min-height: inherit;
  &:hover {
    outline: 2px solid $blueLight;
  }
}
.collectionEditPanelInputs {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.collectionEditPanelColumn {
  display: flex;
  flex-direction: column;
  margin-right: 72px;
}
.collectionEditPanelItem {
  margin-bottom: 32px;
  max-width: 136px;
}
.editPanelTrigger {
  box-shadow: 0px 0px 4px 1px rgb(92 66 62 / 30%);
  background: $white;
  position: absolute;
  left: 0px;
  top: -45px;
  z-index: 1;
  display: none;
  border-radius: 8px;
  button {
    margin: 4px 0;
  }
}
.headerText {
  padding: 4px 0;
  border-bottom: 1px solid $grey-dark;
  margin-top: 24px;
  &:first-child {
    margin-top: 0;
  }
}
.editPanelToggled {
  display: flex;
}
.manageCollection {
  line-height: 34px;
  padding-left: 4px;
}
