.fieldStylingWrapper {
  box-sizing: inherit;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  position: relative;
  min-width: 24px;
}
.fieldStylingHovered {
  outline: 2px solid blue;
  z-index: 1;
}
.rowStylingWrapper {
  box-sizing: inherit;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  position: relative;
  min-width: 24px;
  &.rowStylingHovered {
    border: 1px solid green;
    //border: 2px solid $blueLight;
    border-bottom: 3px solid green;
    z-index: 1;
  }
}
.rowAnimateIn {
  outline: 3px solid green;
}
.editPanel {
  max-height: 432px;
  min-height: 256px;
  min-width: 256px;
  > p {
    padding: 4px 0;
    border-bottom: 1px solid grey;
  }
}
.addSection {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  text-align: center;
}

.addField {
  position: absolute;
  cursor: pointer;
  top: 4px;
  right: 4px;
  padding: 2px;
  text-align: center;
  z-index: 1;
}

.panelHeader {
  padding: 8px 0;
  border-bottom: 1px solid grey;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fieldStylingWrapper .editButton,
.rowStylingWrapper .editButton {
  box-shadow: 0px 0px 4px 1px rgb(92 66 62 / 30%);
  position: absolute;
  background: white;
  font-size: 24px;
  padding: 8px 4px;
  right: 0;
  top: -45px;
  z-index: 1;
  display: none;
  border-radius: 8px;
  &.editButtonToggled {
    display: flex !important;
  }
  &.editButtonField {
    right: auto;
    left: 0;
  }
}

.advancedButton {
  margin: 12px 0;
}
.buttonOpen {
  border-bottom: 2px solid grey;
}
.editButton.top {
  top: -40px;
}
.toggleSectionButton {
  margin: 12px 0;
}
.buttonOpen {
  border-bottom: 2px solid grey;
}
.property {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    width: auto;
  }
}
.hiddenField {
  width: auto;
  height: 24px;
  min-width: 32px;
  padding: 0;
  border: 1px dashed blue;
  overflow: hidden;
}
.propertyTitle {
  display: flex;
  align-items: center;
}
.fieldList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  .field {
    text-align: center;
    width: 44%;
    border: 1px solid #aaa;
    cursor: pointer;
    margin: 3%;
    padding: 16px 0;
    cursor: pointer;
    &:hover {
      background:grey;
    }
  }
}
.addRowIcon {
  background: blue;
  width: 44px;
  height: 44px;
  margin: 0 auto;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    background: 1px solid green;
    opacity: 0;
  }
  to {
    transform: scale(1);
    background: none;

    opacity: 1;
  }
}

// TEXTFIELD

.richTextWrapper {
  position: relative;
  width: 100%;
  .richTextBody,
  .richTextPreview {
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.richTextBody {
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding: 1px 0;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  div {
    // overrides some default styling slate adds
    min-height: auto !important;
    padding: 0 1px;
  }
}

.richTextNoBorder {
  border: 0;
}

.richTextBackground {
  min-height: 48px;
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
}
.toolbarButton {
  width: 32px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  line-height: 1.25rem;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  div div {
    height: 24px !important;
    width: 24px !important;
  }
}
.toolbarButtonGroup {
  display: flex;
}
.colorPreview {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.toolbarSelect {
  div {
    margin: 0;
    select {
      color: black;
      margin: 0;
    }
  }
}

@media all and (max-width: 440px) {
  .toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    width: 100%;
  }
}

.imageFieldUpload {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
}
.imageEditor {
  box-sizing: inherit;
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  height: inherit;
  position: relative;
}
